[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certstream = "==1.12"
asyncio = "==3.4.3"
uvloop = "==0.21.0"
websockets = "==15.0.1"

[dev-packages]

[requires]
python_version = "3.12"
